@inherits RazorComponent
@page "/scanners/achievement"

@using Core.DataCollections
@using Core.Scappers
@using Core.DataFiles

@inject IConfig ScrapConfig
@inject IAchievementCollection AchievementCollection
@inject IScrapper<IAchievementConfig> AchievementScrapper
@inject IDataFileRepository<AchievementOutput> AchievementDataFiles

<Scanner Enabled="@Enabled" OnSubmit="@HandleSubmit">
    <Instructions>
        <li>При необходимости обновите приведенные ниже данные об игре.</li>
        <li>Начните игру. В данный момент игра находится в режиме <ProcessStatusDisplay />.</li>
        <li>Откройте экран своих <b>достижений</b> и выберите любую категорию. Вы должны увидеть строку поиска в левом верхнем углу.</li>
        <li> Некоторые достижения имеют противоречивые названия и будут пропущены во время проверки. Вы можете вручную указать статус этих достижений ниже.</li>
        <li>При желании вы можете выбрать ранее отсканированную запись, чтобы завершенные достижения не сканировались повторно.</li>
        <li>Нажмите кнопку "Старт" ниже, чтобы начать сканирование. Пожалуйста, не перемещайте мышь и не нажимайте никаких кнопок.</li>
        <li>Если вы хотите прервать сканирование, сверните игру или выйдите из нее (используя Alt+Tab).</li>
    </Instructions>
    <DataUpdates>
        <DataUpdate Title="Достижения" Collection="@AchievementCollection" Status="@AchievementCollectionStatus" EntryType="@(typeof(AchievementEntry))" />
    </DataUpdates>
    <Options>
        <div class="опции">
            @if (Overlapping.Count > 0)
            {
                <AchievementEditor @bind-Value="ScrapConfig.AchievementOverrides" Options="@Overlapping" />
            }
            <DataFileListOptional Title="Использовать существующую запись сканирования"
                                  TitleNegative="Не использовать существующие записи сканирования"
                                  FileList="@FileList" @bind-Value="@SelectedFile" />
        </div>
    </Options>
</Scanner>

@code {
    [Flux.GetDataCollectionStatus(typeof(AchievementEntry))]
    public Flux.DataCollectionStatus _AchievementCollectionStatus
    {
        get => AchievementCollectionStatus;
        set
        {
            if (value.IsAvailable)
            {
                var entries = AchievementCollection.ListOverlappingAchievements();
                Overlapping = IAchievementCollection.GroupByCategory(entries);
            }
            AchievementCollectionStatus = value;
        }
    }

    public Flux.DataCollectionStatus AchievementCollectionStatus { get; set; } = default!;

    [Flux.GetProcessStatus]
    public ProcessStatus Status { get; set; }

    private List<IDataFile<AchievementOutput>> FileList { get; set; } = new();

    public IDataFile<AchievementOutput>? SelectedFile { get; set; } = default!;

    private List<AchievementCategoryEntry> Overlapping { get; set; } = new();

    public bool Enabled => AchievementCollectionStatus.IsAvailable;

    protected override async Task OnInitializedAsync()
    {
        Initialize();
        FileList = AchievementDataFiles.List();
        SelectedFile = FileList.FirstOrDefault();
        await ScrapConfig.Load();
    }

    public bool HandleSubmit()
    {
        Dictionary<int, bool> overrides = new();
        foreach (var cat in Overlapping)
        {
            foreach (var entry in cat.Achievements)
            {
                foreach (var id in entry.Ids)
                {
                    overrides[id] = ScrapConfig.AchievementOverrides.TryGetValue(id, out var val) && val;
                }
            }
        }
        ScrapConfig.AchievementOverrides = overrides;
        ScrapConfig.Save();

        if (SelectedFile == null || !SelectedFile.Read(out var output))
        {
            return AchievementScrapper.Start(ScrapConfig);
        }

        FormData data = new()
            {
                AchievementOverrides = new(overrides),
            };
        foreach (var (key, _) in output)
        {
            data.AchievementOverrides[key] = true;
        }
        return AchievementScrapper.Start(data);
    }

    public override void Dispose()
    {
        base.Dispose();
        AchievementScrapper.Dispose();
    }

    private class FormData : IAchievementConfig
    {
        public Dictionary<int, bool> AchievementOverrides { get; set; } = new();
    }
}
